[Desktop Entry]
Name=gedit
Name[af]=gedit
Name[am]=gedit
Name[ar]=محرر جنوم
Name[as]=gedit
Name[ast]=gedit
Name[az]=gedit
Name[be]=gedit
Name[bg]=gedit
Name[bn]=জিএডিট
Name[bn_IN]=gedit
Name[br]=gedit
Name[bs]=gedit
Name[ca]=gedit
Name[ca@valencia]=gedit
Name[crh]=gedit
Name[cs]=gedit
Name[da]=gedit
Name[de]=gedit
Name[el]=gedit
Name[en@shaw]=·𐑜𐑧𐑛𐑦𐑑
Name[en_CA]=gedit
Name[en_GB]=gedit
Name[eo]=Gedit
Name[es]=gedit
Name[et]=gedit
Name[eu]=gedit
Name[fa]=gedit
Name[fi]=gedit
Name[fr]=gedit
Name[ga]=gedit
Name[gl]=gedit
Name[gu]=gedit
Name[he]=gedit
Name[hi]=जीएडिट
Name[hu]=gedit
Name[hy]=գեդիտ
Name[id]=gedit
Name[is]=gedit
Name[it]=gedit
Name[ja]=gedit
Name[kk]=gedit
Name[km]=gedit
Name[kn]=gedit
Name[ko]=지에디트
Name[lt]=gedit
Name[lv]=gedit
Name[mai]=जीएडिट
Name[mk]=gedit
Name[ml]=ജീഎഡിറ്റ്
Name[mn]=Гедит
Name[mr]=जिएडिट
Name[ms]=gedit
Name[my]=gedit
Name[nb]=gedit
Name[nds]=gedit
Name[nl]=gedit
Name[nn]=gedit
Name[or]=gedit
Name[pa]=ਜੀ-ਸੰਪਾਦਕ
Name[pl]=gedit
Name[pt]=gedit
Name[pt_BR]=gedit
Name[ro]=gedit
Name[ru]=gedit
Name[sk]=gedit
Name[sl]=gedit
Name[sr]=Вилењакова бележница
Name[sr@latin]=Vilenjakova beležnica
Name[sv]=gedit
Name[ta]=கெடிட்
Name[te]=జిఎడిట్
Name[th]=gedit
Name[tk]=gedit
Name[tr]=gedit
Name[ug]=gedit
Name[uk]=gedit
Name[vi]=gedit
Name[wa]=gedit
Name[xh]=I-gedit
Name[zh_CN]=gedit
Name[zh_HK]=gedit
Name[zh_TW]=gedit
GenericName=Text Editor
GenericName[af]=Teksredigeerder
GenericName[am]=የጽሑፍ ማቀናጃ
GenericName[ar]=محرّر النصوص
GenericName[as]=লিখনী সম্পাদক
GenericName[ast]=Editor de Testu
GenericName[az]=Mətn Editoru
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটার
GenericName[br]=Embanner testennoù
GenericName[bs]=Tekst editor
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[crh]=Metin Muharriri
GenericName[cs]=Textový editor
GenericName[cy]=Golygydd Testun
GenericName[da]=Tekstredigering
GenericName[de]=Texteditor
GenericName[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en@shaw]=𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
GenericName[en_CA]=Text Editor
GenericName[en_GB]=Text Editor
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de textos
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu-editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstimuokkain
GenericName[fr]=Éditeur de texte
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de texto
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[hy]=Տեքստի խմբագրիչ
GenericName[id]=Penyunting Teks
GenericName[is]=Texta Ritill
GenericName[it]=Editor di testo
GenericName[ja]=テキストエディター
GenericName[ka]=ტექსტის რედაქტორი
GenericName[kk]=Мәтін түзетушісі
GenericName[km]=កម្មវិធី​​កែសម្រួល​​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtora Nivîsê
GenericName[la]=Scripta Edere
GenericName[lt]=Tekstų redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mg]=Fanovana lahabolana
GenericName[mk]=Уредувач за текст
GenericName[ml]=എഴുത്തിടം
GenericName[mn]=Текст боловсруулагч
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Editor Teks
GenericName[my]=စာသားအယ်ဒီတာ
GenericName[nb]=Tekstredigering
GenericName[nds]=Textbewarker
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Tekstredigering
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[ps]=ليک سمونګر
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[rw]=Umuhinduzi w'inyandiko
GenericName[si]=පෙළ සකසනය
GenericName[sk]=Textový editor
GenericName[sl]=Gedit - urejevalnik besedil
GenericName[sq]=Editues teksti
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Textredigerare
GenericName[ta]=உரை திருத்தி 
GenericName[te]=పాఠ్య కూర్పకము
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tk]=Metin Editçi
GenericName[tr]=Metin Düzenleyici
GenericName[ug]=تېكىست تەھرىرلىگۈچ
GenericName[uk]=Текстовий редактор
GenericName[vi]=Bộ soạn văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli wombhalo
GenericName[zh_CN]=文本编辑器
GenericName[zh_HK]=文字編輯器
GenericName[zh_TW]=文字編輯器
Comment=Edit text files
Comment[af]=Redigeer tekslêers
Comment[am]=የጽሑፍ ፋይሎች ያስተካክሉ
Comment[ar]=حرّر الملفات النصية
Comment[as]=লিখনী ফাইল সম্পাদনা
Comment[ast]=Editar ficheros de testu
Comment[az]=Mətn fayllarını redaktə edin
Comment[be]=Рэдагаванне тэкставых файлаў
Comment[be@latin]=Redahuj tekstavyja fajły
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[bn_IN]=টেক্সট ফাইল সম্পাদনা
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[ca@valencia]=Editeu fitxers de text
Comment[crh]=Metin dosyelerini tahrir et
Comment[cs]=Upravovat textové soubory
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Redigér tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[dz]=ཚིག་ཡིག་ཡིག་སྣོད་ཚུ་ ཞུན་དག་རྐྱབས་ 
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en@shaw]=𐑧𐑛𐑦𐑑 𐑑𐑧𐑒𐑕𐑑 𐑓𐑲𐑤𐑟
Comment[en_CA]=Edit text files
Comment[en_GB]=Edit text files
Comment[eo]=Redakti tekstdosierojn
Comment[es]=Edite archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=עריכת קובצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[id]=Menyunting berkas teks
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[ka]=ტექსტური ფაილების რედაქტირება
Comment[kk]=Мәтіндік файлдарды түзету
Comment[km]=កែ​សម្រួល​ឯកសារ​អត្ថបទ
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta datnes
Comment[mai]=पाठ फाइलकेँ संपादित करू
Comment[mg]=Hanova raki-dahabolana
Comment[mk]=Уредувај текстуални датотеки
Comment[ml]=പദാവലി ഫയലുകളില്‍ മാറ്റം വരുത്തുക
Comment[mn]=Текст файл боловсруулах
Comment[mr]=मजकूर फाइल्स् संपादीत करा
Comment[ms]=Edit fail teks
Comment[my]=စာသားဖိုင်များပြင်ဆင်ရန်
Comment[nb]=Rediger tekstfiler
Comment[nds]=Textdateien bewarken
Comment[ne]=पाठ फाइल सम्पादन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[oc]=Editar de fichièrs tèxt
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[ps]=ليکن دوتنې سمول
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[si]=පෙළ ගොනු සකසන්න
Comment[sk]=Úprava textových súborov
Comment[sl]=Enostavni urejevalnik besedilnih datotek
Comment[sq]=Ndrysho file teksti
Comment[sr]=Уређујте текстуалне документе
Comment[sr@latin]=Uređujte tekstualne dokumente
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும் 
Comment[te]=పాఠ్య ఫైళ్ళను సవరించు
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenle
Comment[ug]=تېكىست ھۆججەتلىرىنى تەھرىرلەش
Comment[uk]=Редактор текстових файлів
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[xh]=Hlela iifayili zombhalo
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Comment[zh_TW]=編輯文字檔
Exec=gedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-FullName=gedit Text Editor
X-GNOME-FullName[af]=gedit-teksredigeerder
X-GNOME-FullName[ar]=محرّر النصوص ج‌إدِت
X-GNOME-FullName[as]=gedit লিখনী সম্পাদক
X-GNOME-FullName[ast]=Editor de Testu gedit
X-GNOME-FullName[be]=Тэкставы рэдактар gedit
X-GNOME-FullName[bg]=Текстов редактор (gedit)
X-GNOME-FullName[bn]=জিএডিট টেক্সট সম্পাদক
X-GNOME-FullName[bn_IN]=gedit টেক্সট এডিটার
X-GNOME-FullName[ca]=Editor de text gedit
X-GNOME-FullName[ca@valencia]=Editor de text gedit
X-GNOME-FullName[crh]=gedit Metin Muharriri
X-GNOME-FullName[cs]=Textový editor gedit
X-GNOME-FullName[da]=Tekstredigeringen gedit
X-GNOME-FullName[de]=gedit Texteditor
X-GNOME-FullName[el]=Επεξεργαστής κειμένου gedit
X-GNOME-FullName[en@shaw]=·𐑜𐑧𐑛𐑦𐑑 𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
X-GNOME-FullName[en_GB]=gedit Text Editor
X-GNOME-FullName[eo]=Gedit tekstredaktilo
X-GNOME-FullName[es]=Editor de textos gedit
X-GNOME-FullName[et]=Tekstiredaktor gedit
X-GNOME-FullName[eu]=gedit testu-editorea
X-GNOME-FullName[fa]=ویرایشگر متن gedit
X-GNOME-FullName[fi]=gedit-tekstimuokkain
X-GNOME-FullName[fr]=Éditeur de texte gedit
X-GNOME-FullName[ga]=Eagarthóir Téacs gedit
X-GNOME-FullName[gl]=Editor de texto gedit
X-GNOME-FullName[gu]=gedit લખાણ સંપાદક
X-GNOME-FullName[he]=עורך הטקסט gedit
X-GNOME-FullName[hi]=जीएडिट पाठ संपादक
X-GNOME-FullName[hu]=gedit szövegszerkesztő
X-GNOME-FullName[id]=gedit Penyunting Teks
X-GNOME-FullName[it]=Editor di testo gedit
X-GNOME-FullName[ja]=gedit テキストエディター
X-GNOME-FullName[km]=កម្មវិធី​កែសម្រួល​អត្ថបទ gedit
X-GNOME-FullName[kn]=gedit ಪಠ್ಯ ಸಂಪಾದಕ
X-GNOME-FullName[ko]=지에디트 텍스트 편집기
X-GNOME-FullName[lt]=gedit tekstų redaktorius
X-GNOME-FullName[lv]=gedit teksta redaktors
X-GNOME-FullName[mai]=जीएडिट पाठ संपादक
X-GNOME-FullName[mk]=gedit уредувачот на текст
X-GNOME-FullName[ml]=ജിഎഡിറ്റ് എഴുത്തിടം
X-GNOME-FullName[mr]=gedit मजकूर संपादक
X-GNOME-FullName[my]=gedit စာသားအယ်ဒီတာ
X-GNOME-FullName[nb]=gedit tekstredigering
X-GNOME-FullName[nds]=gedit textbewarker
X-GNOME-FullName[nl]=gedit-teksteditor
X-GNOME-FullName[or]=gedit ପାଠ୍ଯ ସମ୍ପାଦକ
X-GNOME-FullName[pa]=ਜੀ-ਸੰਪਾਦਕ ਟੈਕਸਟ ਐਡੀਟਰ
X-GNOME-FullName[pl]=Edytor tekstu gedit
X-GNOME-FullName[pt]=Editor de Texto gedit
X-GNOME-FullName[pt_BR]=Editor de texto gedit
X-GNOME-FullName[ro]=Editor de text gedit
X-GNOME-FullName[ru]=Текстовый редактор gedit
X-GNOME-FullName[sk]=gedit - textový editor
X-GNOME-FullName[sl]=Gedit urejevalnik besedil 
X-GNOME-FullName[sr]=Вилењакова бележница — уређивач текста
X-GNOME-FullName[sr@latin]=Vilenjakova beležnica — uređivač teksta
X-GNOME-FullName[sv]=Textredigeraren gedit
X-GNOME-FullName[ta]=gedit உரை திருத்தி 
X-GNOME-FullName[te]=జిఎడిట్ పాఠ్య కూర్పకము
X-GNOME-FullName[th]=เครื่องมือแก้ไขข้อความ gedit
X-GNOME-FullName[tr]=gedit Metin Düzenleyici
X-GNOME-FullName[ug]=gedit تېكىست تەھرىرلىگۈچ
X-GNOME-FullName[uk]=Текстовий редактор gedit
X-GNOME-FullName[vi]=gedit Bộ soạn văn bản
X-GNOME-FullName[zh_CN]=gedit 文本编辑器
X-GNOME-FullName[zh_HK]=gedit 文字編輯器
X-GNOME-FullName[zh_TW]=gedit 文字編輯器
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.8.0
X-GNOME-Bugzilla-ExtraInfoScript=/home/alex/vcs/openshift-broadway/root/libexec/gedit/gedit-bugreport.sh
Actions=Window;Document;
Keywords=Text;Editor;
Keywords[ar]=محرّر;نصوص;نص;
Keywords[as]=Text;Editor;
Keywords[be]=Тэкст;Рэдактар;
Keywords[ca]=Text;Editor;
Keywords[ca@valencia]=Text;Editor;
Keywords[crh]=Metin;Muharrir;
Keywords[cs]=text;editor;
Keywords[da]=Tekst;Tekstredigering;Redigering;
Keywords[de]=Text;Editor;
Keywords[el]=Text;Editor;κείμενο;επεξεργαστής;
Keywords[es]=texto;editor;
Keywords[et]=tekst;redaktor;toimeti;tekstitoimeti;
Keywords[eu]=Testua;Editorea;
Keywords[fa]=متن;ویرایشگر;
Keywords[fi]=Text;Editor;teksti;muokkain;editori;
Keywords[fr]=texte;éditeur;
Keywords[gl]=Texto;Editor;
Keywords[gu]=લખાણ;સંપાદક;
Keywords[he]=טקסט;עורך;עריכה;
Keywords[hi]=पाठ;संपादक;
Keywords[hu]=Szöveg;Szerkesztő;
Keywords[id]=Teks;Penyunting;
Keywords[it]=Editor;Testo;Text;
Keywords[ja]=Text;Editor;テキスト;エディター;
Keywords[kn]=ಪಠ್ಯ; ಸಂಪಾದಕ;
Keywords[ko]=Text;Editor;텍스트;편집기;
Keywords[lt]=Tekstas;Redaktorius;
Keywords[lv]=Teksts;Redaktors;
Keywords[ml]=Text;Editor;
Keywords[mr]=मजकूर;एडिटर;
Keywords[nb]=Tekst;Redigering;
Keywords[nl]=Tekst;Editor;Teksteditor;
Keywords[or]=ପାଠ୍ଯ;ସମ୍ପାଦକ;
Keywords[pa]=ਸ਼ਬਦ;ਟੈਕਸਟ;ਸੰਪਾਦਕ;ਐਡੀਟਰ;
Keywords[pl]=Tekst;Edytor;
Keywords[pt]=Texto;Editor;
Keywords[pt_BR]=Texto;Editor;
Keywords[ru]=Текст;Редактор;
Keywords[sk]=Text;Editor;
Keywords[sl]=urejevalnik;besedilo;gedit;
Keywords[sr]=уређивач;текст;
Keywords[sr@latin]=uređivač;tekst;
Keywords[ta]=உரை;திருத்தி;
Keywords[te]=పాఠం;కూర్పకము;
Keywords[th]=ข้อความ;เครื่องมือแก้ไข;
Keywords[ug]=Text;Editor;تېكىست;تەھرىرلىگۈچ;تەھرىرلىگۈ;
Keywords[zh_CN]=文本;编辑器;Text;Editor;
Keywords[zh_HK]=Text;Editor;文字;編輯器;
Keywords[zh_TW]=Text;Editor;文字;編輯器;

[Desktop Action Window]
Name=Open a New Window
Name[ar]=افتح نافذة جديدة
Name[as]=এটা নতুন উইন্ডো খোলক
Name[be]=Адкрыць новае акно
Name[bg]=Отваряне на нов прозорец
Name[bn_IN]=একটি নতুন উইন্ডো খুলুন
Name[ca]=Obre una finestra nova
Name[ca@valencia]=Obri una finestra nova
Name[crh]=Yañı bir Pencere Aç
Name[cs]=Otevřít nové okno
Name[da]=Åbn et nyt vindue
Name[de]=Ein neues Hauptfenster öffnen
Name[el]=Άνοιγμα ενός νέου παραθύρου
Name[en_GB]=Open a New Window
Name[es]=Abrir una ventana nueva
Name[et]=Uue akna avamine
Name[eu]=Ireki leiho berrira
Name[fa]=باز کردن یک پنجره جدید
Name[fi]=Avaa uusi ikkuna
Name[fr]=Ouvrir une nouvelle fenêtre
Name[gl]=Abrir unha nova xanela
Name[gu]=નવી વિન્ડોને ખોલો
Name[he]=פתיחת חלון חדש
Name[hi]=एक नया विंडो खोलें
Name[hu]=Új ablak megnyitása
Name[id]=Buka Jendela Baru
Name[it]=Apri una nuova finestra
Name[ja]=新しいウィンドウを開く
Name[km]=បើក​បង្អួច​ថ្មី
Name[kn]=ಹೊಸ ಕಿಟಕಿಯಲ್ಲಿ ತೆರೆ
Name[ko]=새 창 열기
Name[lt]=Atverti naują langą
Name[lv]=Atvērt jaunu logu
Name[ml]=പുതിയ ജാലകം തുറക്കുക
Name[mr]=नवीन चौकटीत उघडा
Name[nb]=Åpne et nytt vindu
Name[nl]=Nieuw venster openen
Name[nn]=Opna eit nytt vindauge
Name[or]=ନୂଆ ୱିଣ୍ଡୋ ଖୋଲନ୍ତୁ
Name[pa]=ਇੱਕ ਨਵੀਂ ਵਿੰਡੋ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir uma Nova Janela
Name[pt_BR]=Abrir uma nova janela
Name[ru]=Открыть новое окно
Name[sk]=Otvoriť nové okno
Name[sl]=Odpri novo okno
Name[sr]=Отворите нови прозор
Name[sr@latin]=Otvorite novi prozor
Name[sv]=Öppna ett nytt fönster
Name[ta]=புதிய சாளரத்தை திற
Name[te]=కొత్త విండోను తెరు
Name[th]=เปิดหน้าต่างใหม่
Name[tr]=Yeni Pencere Aç
Name[ug]=يېڭى كۆزنەك ئېچىش
Name[uk]=Створити нове вікно
Name[vi]=Mở cửa sổ mới
Name[zh_CN]=打开新窗口
Name[zh_HK]=開啟新的視窗
Name[zh_TW]=開啟新的視窗
Exec=gedit --new-window
OnlyShowIn=Unity;

[Desktop Action Document]
Name=Open a New Document
Name[ar]=افتح مستندا جديدا
Name[as]=এটা নতুন দস্তাবেজ খোলক
Name[be]=Адкрыць новы дакумент
Name[bg]=Отваряне на нов документ
Name[bn_IN]=নতুন ডকুমেন্ট খুলুন
Name[ca]=Obre un document nou
Name[ca@valencia]=Obri un document nou
Name[crh]=Yañı Bir Vesiqa Aç
Name[cs]=Otevřít nový dokument
Name[da]=Åbn et nyt dokument
Name[de]=Ein neues Dokument anlegen
Name[el]=Άνοιγμα ενός νέου εγγράφου
Name[en_GB]=Open a New Document
Name[es]=Abrir un documento nuevo
Name[et]=Uue dokumendi avamine
Name[eu]=Ireki dokumentu berria
Name[fa]=باز کزدن یک سند جدید
Name[fi]=Avaa uusi asiakirja
Name[fr]=Ouvrir un nouveau document
Name[gl]=Abrir un novo documento
Name[gu]=નવાં દસ્તાવેજને ખોલો
Name[he]=יצירת מסמך חדש
Name[hi]=एक नया दस्तावेज़ बनाएँ
Name[hu]=Új dokumentum megnyitása
Name[id]=Buka Dokumen Baru
Name[it]=Apri un nuovo documento
Name[ja]=新しいドキュメントを作成
Name[km]=បើក​ឯកសារ​ថ្មី
Name[kn]=ಹೊಸ ದಸ್ತಾವೇಜನ್ನು ತೆರೆ
Name[ko]=새 문서 열기
Name[lt]=Atverti naują dokumentą
Name[lv]=Atvērt jaunu dokumentu
Name[ml]=പുതിയ രേഖ ഉണ്ടാക്കുക
Name[mr]=नवीन दस्तऐवज उघडा
Name[nb]=Åpne et nytt dokument
Name[nl]=Nieuw document openen
Name[nn]=Opna eit nytt dokument
Name[or]=ନୂଆ ଦଲିଲ ଖୋଲନ୍ତୁ
Name[pa]=ਇੱਕ ਨਵਾਂ ਦਸਤਾਵੇਜ਼ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowy dokument
Name[pt]=Abrir um Novo Documento
Name[pt_BR]=Abrir um novo documento
Name[ru]=Открыть новый документ
Name[sk]=Otvoriť nový dokument
Name[sl]=Odpri nov dokument
Name[sr]=Отворите нови документ
Name[sr@latin]=Otvorite novi dokument
Name[sv]=Öppna ett nytt dokument
Name[ta]=ஒரு புதிய ஆவணத்தை திற
Name[te]=కొత్త పత్రమును సృష్టించు
Name[th]=สร้างเอกสารใหม่
Name[tr]=Yeni Belge Aç
Name[ug]=يېڭى پۈتۈك ئېچىش
Name[uk]=Відкрити новий документ
Name[vi]=Mở tài liệu mới
Name[zh_CN]=打开新文档
Name[zh_HK]=開啟新的文件
Name[zh_TW]=開啟新的文件
Exec=gedit --new-document
OnlyShowIn=Unity;
